/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.my-lm-bottom {
	margin-bottom: 100px;
}
.my-lp-top {
	padding-top: 100px;
}

nav ul li:hover, nav ul li.active {
	background-color: #3f51b5;
}

h3 span {
	padding: 0 20px;
    background-color: #ffffff;
    position: relative;
    z-index: 5;
}

h3::before {
	border-top: 3px solid #000000;
    position: relative;
    top: 30px;
    content: "";
    display: block;
}